<%- include('../partials/header') %>

<!-- login starts here -->
<section class="min-h-screen flex flex-col">
  <div class="flex flex-1 items-center justify-center">
    <div
      class="
        rounded-lg
        sm:border-2
        px-2
        lg:px-24
        lg:max-w-xl
        sm:max-w-md
        w-full
        text-center
      "
    >
      <form action="" method="POST" class="text-center">
        <h1 class="font-bold tracking-wider text-3xl mb-8 w-full text-gray-600">
          Login
        </h1>
        <%- include("../partials/messages") %>
        <div class="py-2 text-left">
          <input
            required
            name="email"
            type="email"
            class="
              bg-white
              border-2 border-gray-300
              focus:outline-none
              bg-gray-100
              block
              w-full
              py-2
              px-4
              rounded-lg
              focus:border-indigo-700
            "
            placeholder="Email"
          />
        </div>
        <div class="py-2 text-left">
          <input
            type="password"
            name="password"
            required
            class="
              bg-white
              border-2 border-gray-300
              focus:outline-none
              bg-gray-100
              block
              w-full
              py-2
              px-4
              rounded-lg
              focus:border-indigo-700
            "
            placeholder="Password"
          />
        </div>
        <div class="py-2">
          <button
            type="submit"
            class="
              border-2 border-gray-100
              focus:outline-none
              bg-purple-600
              text-white
              font-bold
              tracking-wider
              block
              w-full
              p-2
              rounded-lg
              focus:border-gray-700
              hover:bg-purple-700
            "
          >
            Sign In
          </button>
        </div>
      </form>
      <div class="text-center mt-6">
        <span> Don't have an account? </span>
        <a
          href="/users/register"
          class="
            font-light
            text-md text-indigo-600
            underline
            font-semibold
            hover:text-indigo-800
          "
          >Create One</a
        >
      </div>
    </div>
  </div>
</section>

<!-- login ends here -->

<%- include('../partials/footer') %>
