<!-- message goes here  -->

<% if(typeof errors != 'undefined') { %> <% errors.forEach(function(error) { %>
<div class="bg-white p-0 flex items-center mb-1">
  <div
    class="
      space-x-2
      bg-yellow-300
      rounded
      flex
      items-start
      text-blue-600
      mx-auto
      max-w-2xl
      shadow-lg
    "
  >
    <div class="w-1 self-stretch bg-blue-800"></div>
    <div class="flex space-x-2 p-4">
      <i style="font-size: 25px" class="bx bx-error-alt bx-tada"></i>
      <h3 class="text-blue-800 tracking-wider flex-1"><%= error %></h3>
      <button
        class="w-4"
        type="button"
        data-dismiss="alert"
        aria-label="Close"
        onclick="this.parentElement.remove();"
      >
        <i class="bx bx-x" style="font-size: 25px; color: black"></i>
      </button>
    </div>
  </div>
</div>
<% }) %> <% } %>

<!-- // redirect flash success meassage -->

<% if(success_msg != '') { %>
<div class="bg-white p-0 flex items-center mb-1">
  <div
    class="
      space-x-2
      bg-green-600
      rounded
      flex
      items-start
      text-blue-600
      mx-auto
      max-w-2xl
      shadow-lg
    "
  >
    <div class="w-1 self-stretch bg-blue-800"></div>
    <div class="flex space-x-2 p-4">
      <i style="font-size: 25px" class="bx bxs-chevrons-right bx-tada bx-flip-vertical"></i>
      <h3 class="text-white tracking-wider flex-1"><%= success_msg %></h3>
      <button
        class="w-4"
        type="button"
        data-dismiss="alert"
        aria-label="Close"
        onclick="this.parentElement.remove();"
      >
        <i class="bx bx-x" style="font-size: 25px; color: black"></i>
      </button>
    </div>
  </div>
</div>
<% } %>

<!-- // redirect flash error  -->
<% if(error != '') { %>
<div class="bg-white p-0 flex items-center mb-1">
  <div
    class="
      space-x-2
      bg-red-300
      rounded
      flex
      items-start
      text-blue-600
      mx-auto
      max-w-2xl
      shadow-lg
    "
  >
    <div class="w-1 self-stretch bg-blue-800"></div>
    <div class="flex space-x-2 p-4">
      <i style="font-size: 25px" class="bx bx-error-alt bx-tada"></i>
      <h3 class="text-blue-800 tracking-wider flex-1"><%= error %></h3>
      <button
        class="w-4"
        type="button"
        data-dismiss="alert"
        aria-label="Close"
        onclick="this.parentElement.remove();"
      >
        <i class="bx bx-x" style="font-size: 25px; color: black"></i>
      </button>
    </div>
  </div>
</div>
<% } %>

<!-- // redirect flash error meassage -->
<% if(error_msg != '') { %>
<div class="bg-white p-0 flex items-center mb-1">
  <div
    class="
      space-x-2
      bg-red-300
      rounded
      flex
      items-start
      text-blue-600
      mx-auto
      max-w-2xl
      shadow-lg
    "
  >
    <div class="w-1 self-stretch bg-blue-800"></div>
    <div class="flex space-x-2 p-4">
      <i style="font-size: 25px" class="bx bx-error-alt bx-tada"></i>
      <h3 class="text-blue-800 tracking-wider flex-1"><%= error_msg %></h3>
      <button
        class="w-4"
        type="button"
        data-dismiss="alert"
        aria-label="Close"
        onclick="this.parentElement.remove();"
      >
        <i class="bx bx-x" style="font-size: 25px; color: black"></i>
      </button>
    </div>
  </div>
</div>
<% } %>
